<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pizzerria|All Our Pizzas</title>
    </head>

    <body>
        <form method="get">
            <label>Order By: </label>
            <br>

            <select size="1" name="ordering">
                <option>price</option>
                <option>name</option>
                <option>description</option>
            </select>

            <input type="submit" value="Complete">
        </form>

        <h1>Our Pizzas ( {{ pizzas_count }} ): </h1>
        <br>

        {% for pizza in pizzas %}
            {{ pizza.id }}. {{ pizza.name }} ( {{ pizza.price }}$ ) --- <a href="../pizza/{{ pizza.id }}/edit/">edit price</a> <br> 

            {% if pizza.description %}
                {{ pizza.description }} 
            {% else %}
                No description
            {% endif %}

            <br><br>
        {% endfor %}
    </body>
</html>