<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title_part_1 }}Cart</title>
    </head>

    <body>
        <h1>{{ page_header }}</h1>
        Your account: {{ user.username }}<br>
        Your cart:

        <ul>
            {% for order in orders %}
                {% if order.client.username == user.username %}
                    <li>
                        {{ order.client.username }}:    <a href="order/{{ order.id }}/edit/">edit</a><br> 

                        {% for dish in order.dishes.all %}
                            - {{ dish.name }} ( {{ dish.price }}$ )
                            <br>{{ separator }}<br>
                        {% endfor %}
                    </li>
                {% endif %}
            {% endfor %}

            <br>{{ separator }}<br><br>

            {{ full_price }}<br>
            <a href="addorder/">Add order</a>
        </ul>
    </body>
</html>