<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pizzerria|Cart</title>
    </head>

    <body>
        Your cart:

        <ul>
            {% for order in orders %}
                <li>
                    {{ order.client.user_login }}:    <a href="order/{{ order.id }}/edit/">edit</a><br> 

                    {% for dish in order.dishes.all %}
                        - {{ dish.name }} ( {{ dish.price }}$ )
                        <br>---------------------------------------------------<br>
                    {% endfor %}
                </li>
            {% endfor %}

            <br>---------------------------------------------------<br><br>

            {{ full_price }}
        </ul>
    </body>
</html>